{% load static %}
{% load i18n %}
<section id="donat" class="donat">
    <div class="container">
        <div class="donat__wrapper">
            <div class="donat__image">
                <img src="{% static 'landing/img/donat-img.png' %}" alt="donat"/>
            </div>
            <div class="donat__content">
                <h2 class="donat__title section-title">
                    <span>{% trans 'донат' %}</span>
                </h2>
                <div class="donat__text">
                    <p>
                        {% trans 'Ми просимо підтримки зараз, щоб мати можливість допомагати і надалі.' %}
                    </p>
                    <p>
                        {% trans 'Віримо у нашу Україну, її незалежність, наших мужніх людей та перемогу над загарбником!' %}
                    </p>
                </div>
                <div class="donat__btns">
                    <a href="#" class="donat__btn btn" data-popup="#requsites">{% trans 'Реквизиты' %}</a>
                    <a href="https://easypay.ua/ua/partners/icc-minsocpol-ukraine" target="blank" class="donat__btn btn">{% trans 'Допомогти онлайн' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
