{% load static %}
{% load i18n %}
<section class="e-service">
    <div class="container">
        <h2 class="e-service__title section-title">
            <span>{% trans 'є-сервіси' %}</span>
        </h2>
        <div class="e-service__wrapper">
            <div class="e-service__item">
                <div class="e-service__icon">
                    <img src="{% static 'landing/img/e-services/icon_1.png' %}" alt=""/>
                </div>
                <a href="https://uz.ioc.gov.ua/" class="e-service__link" target="_blank">
                    {% trans 'Інформація щодо перебування на обліку та повноти наповнення' %}
                    {% trans 'інформації про осіб в Централізованому банку даних з проблем' %}
                    {% trans 'інвалідності для придбання квитків на пільгових умовах' %}
                </a>
            </div>
            <div class="e-service__item">
                <div class="e-service__icon">
                    <img src="{% static 'landing/img/e-services/icon_2.png' %}" alt=""/>
                </div>
                <a href="https://subsidii.ioc.gov.ua/" class="e-service__link" target="_blank">
                    {% trans 'Інформація про стан субсидії в домогосподарстві за даними Єдиного' %}
                    {% trans 'державного реєстру отримувачів субсидій Міністерства соціальної політики' %}
                </a>
            </div>
            <div class="e-service__item">
                <div class="e-service__icon">
                    <img src="{% static 'landing/img/e-services/icon_3.png' %}" alt=""/>
                </div>
                <a href="https://stdreg.ioc.gov.ua/stdregistry/app/#/" class="e-service__link" target="_blank">
                    {% trans 'Система «Облік студентів (курсантів) вищих навчальних закладів,' %}
                    {% trans 'які отримують соціальну стипендію»' %}
                </a>
            </div>
            <div class="e-service__item">
                <div class="e-service__icon">
                    <img src="{% static 'landing/img/e-services/icon_4.png' %}" alt=""/>
                </div>
                <a href="https://portal.ioc.gov.ua/" class="e-service__link" target="_blank">
                    {% trans 'Електронна соціальна послуга відшкодування вартості послуги з' %}
                    {% trans 'догляду за дитиною до трьох років «Муніципальна няня»,' %}
                </a>
            </div>
            <div class="e-service__item">
                <div class="e-service__icon">
                    <img src="{% static 'landing/img/e-services/icon_5.png' %}" alt=""/>
                </div>
                <a href="https://www.youtube.com/playlist?list=PLCZVFyAjYB-ky9UkGw3cQWnVyd7I87rSd" class="e-service__link" target="_blank">
                    {% trans 'Програмний комплекс «Інтегрована Інформаційна Система «Соціальна' %}
                    {% trans 'громада». Навчально-методичні матеріали ПК «ІІС «Соціальна громада»' %}
                </a>
            </div>
            <div class="e-service__item">
                <div class="e-service__icon">
                    <img src="{% static 'landing/img/e-services/icon_6.png' %}" alt=""/>
                </div>
                <a href="" class="e-service__link" target="_blank">
                    {% trans 'Державний реєстр майнових об’єктів оздоровлення та відпочинку дітей' %}
                </a>
            </div>
            <div class="e-service__item">
                <div class="e-service__icon">
                    <img src="{% static 'landing/img/e-services/icon_7.png' %}" alt=""/>
                </div>
                <a href="https://www.youtube.com/watch?v=MiNgUPB1hMI&list=PLCZVFyAjYB-nBprYrg8MVSRBs_yFomDpr" class="e-service__link" target="_blank">
                    {% trans 'Автоматизована система реєстрації гуманітарної допомоги' %}
                </a>
            </div>
            <div class="e-service__item">
                <div class="e-service__icon">
                    <img src="{% static 'landing/img/e-services/icon_8.png' %}" alt=""/>
                </div>
                <a href="https://dopomoga2fop.ioc.gov.ua/" class="e-service__link" target="_blank">
                    {% trans 'Електронна послуга допомога на дітей фізичним особам – підприємцям, які обрали спрощену систему оподаткування і належать до першої та другої групи платників єдиного податку' %}
                </a>
            </div>
        </div>
    </div>
</section>
