{% load i18n %}
{% load static %}
{% load change_lang from utils %}
{% get_available_languages as languages %}
{% get_current_language as CUR_LANG_CODE %}
<header class="header header_bg">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__burger">
                <div class="burger__icon icon-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <a href="{% url 'landing:index' %}" class="header__logo">
                <img src="{% static 'landing/img/logo.svg' %}" alt="logo"/>
            </a>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__elem">
                        <a href="{% url 'landing:index' %}#services" class="header__link">{% trans 'Наші послуги' %}</a>
                    </li>
                    <li class="header__elem">
                        <a href="{% url 'landing:index' %}#donat" class="header__link">{% trans 'Донейшн' %}</a>
                    </li>
                    <li class="header__elem">
                        <a href="{% url 'landing:index' %}#partners" class="header__link">{% trans 'Наші партнери' %}</a>
                    </li>
                    <li class="header__elem">
                        <a href="{% url 'landing:index' %}#questions" class="header__link">{% trans 'Питання - Відповідь' %}</a>
                    </li>
                    <li class="header__elem">
                        <a href="{% url 'landing:about' %}" class="header__link">{% trans 'Про нас' %}</a>
                    </li>
                    <li class="header__elem">
                        <a href="{% url 'landing:team' %}" class="header__link">{% trans 'Керівництво' %}</a>
                    </li>
                </ul>
            </nav>
            <div class="header__right">
                <div class="header__lang">
                    {% for code, name in languages %}
                        <a href="{% change_lang code %}" class="header__lang-elem current">{{ name }}</a>
                    {% endfor %}
                </div>
                <a href="https://edopomoga.gov.ua/" class="header__btn btn" target="_blank">{% trans 'єДопомога' %}</a>
            </div>
        </div>
    </div>
    <div class="header-mobile">
        <nav class="header-mobile__nav">
            <ul class="header-mobile__list">
                <li class="header-mobile__elem">
                    <a href="{% url 'landing:index' %}#services" class="header__link">{% trans 'Наші послуги' %}</a>
                </li>
                <li class="header-mobile__elem">
                    <a href="{% url 'landing:index' %}#donat" class="header__link">{% trans 'Донейшн' %}</a>
                </li>
                <li class="header-mobile__elem">
                    <a href="{% url 'landing:index' %}#partners" class="header__link">{% trans 'Наші партнери' %}</a>
                </li>
                <li class="header-mobile__elem">
                    <a href="{% url 'landing:index' %}#questions" class="header__link">{% trans 'Питання - Відповідь' %}</a>
                </li>
                <li class="header-mobile__elem">
                    <a href="{% url 'landing:about' %}" class="header__link">{% trans 'Про нас' %}</a>
                </li>
                <li class="header-mobile__elem">
                    <a href="{% url 'landing:team' %}" class="header__link">{% trans 'Керівництво' %}</a>
                </li>
            </ul>
        </nav>
        <a href="https://edopomoga.gov.ua/" class="header-mobile__btn btn" target="_blank">{% trans 'єДопомога' %}</a>
    </div>
</header>
